<a href="https://colab.research.google.com/github/charan5045/python-workshop/blob/master/python_june24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Looping statements:while ,for

syntax :--(while)

while conditon :
  
   body of loop

   loop index increment

else: (optional)

statement

In [1]:
counter=0
while counter<3 :
  print('inside while loop')
  counter=counter+1
else :
  print('inside the else')

inside while loop
inside while loop
inside while loop
inside the else

In [6]:
n=0
while n<10 :
  print(n)
  n=n+1
print('outside the while')

0
1
2
3
4
5
6
7
8
9
outside the while

python programme to check given number is palindrome or not

In [9]:
n=int(input('enter a number to check whether its a palindrome'))
temp=n
rev=0
while (n>0) :
  digit=n%10
  rev=rev*10+digit
  n=n//10

if (temp==rev) :
  print('the given number is palindrome')
else :
  print('the given number is not palindrome')

enter a number to check whether its a palindrome339933
the given number is palindrome

python programme to reverse a number

In [11]:
num=int(input("Enter a number: "))
rev=0
while num!=0:
    digit=num%10
    rev=rev*10+digit
    num=num//10
print("Reverse the given number is:",rev)

Enter a number: 45
Reverse the given number is: 54

python programme to find thedivisor of a number

In [14]:
x=int(input('enter a number to find the divisor of it'))
i=2
while(i<=x//2) :
  if x%i==0 :
    print(i)
  i=i+1
else :
  print('are the divisor of the given number')

enter a number to find the divisor of it33
3
11
are the divisor of the given number

syntax :-- loop

for value in sequence :
    
    body of loop

else :

     statements

In [17]:
friends=['sathish','phani','ratan']
for friend in friends :
  print('happy new year :',friend)
print('done')

happy new year : sathish
happy new year : phani
happy new year : ratan
done

python programme to print a multiplication table

In [22]:
n=int(input('enter a number to display its multiplication table'))
for i in range (1,11):
  print(n,'x',i,'=',n*i)

enter a number to display its multiplication table33
33 x 1 = 33
33 x 2 = 66
33 x 3 = 99
33 x 4 = 132
33 x 5 = 165
33 x 6 = 198
33 x 7 = 231
33 x 8 = 264
33 x 9 = 297
33 x 10 = 330

In [ ]:
#range(start,end,step)

In [24]:
x=range(5)
print(type(x),x)
print(x)

x=list(range(5))
print(type(x),x)

<class 'range'> range(0, 5)
range(0, 5)
<class 'list'> [0, 1, 2, 3, 4]

In [25]:
for i in range(5,10) :
  print(i,end=' ')

5 6 7 8 9