<a href="https://colab.research.google.com/github/charan5045/python-workshop/blob/master/python_july1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write a python program to create a tuple

In [1]:
t1=(1,3,4,5,6,7)
print(t1,type(t1))

(1, 3, 4, 5, 6, 7) <class 'tuple'>

2.Write a python program to create a tuple with different datatypes

In [5]:
t1 = ("Charan cherry", True,100, 1.0)
print(t1)

('Charan cherry', True, 100, 1.0)

3.Write a python program to convert a tuple to a string

In [6]:
t1=('C','h','a','r','a','n')
str=''.join(t1)
print(str)

Charan

4.Write a python program to slice a tuple

In [7]:
t1 = (1,2,3,4,5,6,7,8,9)
slice=t1[1]
print(slice)

2

5.Write a python program to find the length of a tuple

In [8]:
t1=("Cherry")
print(len(t1))
print(t1)

6
Cherry

6.Write a python program to reverse a tuple

In [9]:
x=(1,2,3,4,5,6,7)
y=reversed(x)
print(tuple(y))

(7, 6, 5, 4, 3, 2, 1)

7.Write a python program to convert a list to a tuple

In [10]:
l1=[1,2,3,44,555,6]
print(l1)
t1=tuple(l1)
print(t1)

[1, 2, 3, 44, 555, 6]
(1, 2, 3, 44, 555, 6)