<a href="https://colab.research.google.com/github/charan5045/python-workshop/blob/master/python_june_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for i in range(5,20,3):
  print(i,end=' ')

5 8 11 14 17

 python programme to generate all odd numbers upto 50

In [2]:
for i in range(1,50,2):
  print(i,end=' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

python programme to generate all even numbers upto50

In [5]:
for i in range(2,50,2):
  print(i,end=' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48

In [7]:
for i in range(-5,10,2):
  print(i,end=' ')

-5 -3 -1 1 3 5 7 9

In [21]:
for i in range(-5,20,2):
  print(i,end=' ')

-5 -3 -1 1 3 5 7 9 11 13 15 17 19

In [22]:
for char in 'GITAM UNIVERSITY':
  print(char)

G
I
T
A
M

U
N
I
V
E
R
S
I
T
Y

python programme to display sum and AVERAGE OF GIVEN NUMBERS

In [25]:
number=[10,20,30,40]
sum=0
for num in number:
  sum=sum+num
avg=sum/len(number)
print('sum=',sum)
print('average=',avg)

sum= 100
average= 25.0

In [27]:
number=[3,33,66,99]
sum=0
for num in number:
  sum=sum+num
avg=sum/len(number)
print('sum=',sum)
print('average=',avg)

sum= 201
average= 50.25

python programme to check the given number is prime or not

In [31]:
def prime(n):
  for i in range(2,n//2+1):
    if (n%i==0):
     return 'Not prime'
  else:
    return 'Prime'
prime(33)

'Not prime'

python programme to generate all prime numbers between n1 and n2

In [33]:
n1=int(input("Enter n1: "))
n2=int(input("Enter n2: "))
for num in range(n1, n2+1):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

Enter n1: 1
Enter n2: 20
2
3
5
7
11
13
17
19

python programme to add 2 matrix

In [38]:
m1=[[11,22,33],
    [44,55,66],
    [77,88,99]]

m2=[[1,2,3],
    [4,5,6],
    [7,8,9]]

result=[[0,0,0],
        [0,0,0],
        [0,0,0]]

for i in range(len(m1)) :
  for j in range(len(m1[0])) :
    result[i][j]=m1[i][j]+m2[i][j]

for r in result:
  print(r)

[12, 24, 36]
[48, 60, 72]
[84, 96, 108]

python programme to subtract 2 matrix

In [39]:
m1=[[11,22,33],
    [44,55,66],
    [77,88,99]]

m2=[[1,2,3],
    [4,5,6],
    [7,8,9]]

result=[[0,0,0],
        [0,0,0],
        [0,0,0]]

for i in range(len(m1)) :
  for j in range(len(m1[0])) :
    result[i][j]=m1[i][j]-m2[i][j]

for r in result:
  print(r)

[10, 20, 30]
[40, 50, 60]
[70, 80, 90]

python programme to multiply 2 matrix

In [44]:
x=[[1,2,3],
    [4,5,6],
    [7,8,9]]

y=[[1,2,3],
    [4,5,6],
    [7,8,9]]

result=[[0,0,0],
        [0,0,0],
        [0,0,0]]

for i in range(len(x)) :
  for j in range(len(y[0])) :
    for k in range(len(y)):
        result[i][j] += x[i][k] * y[k][j]

for r in result:
  print(r)

[30, 36, 42]
[66, 81, 96]
[102, 126, 150]